@model List<CoffeeApp.Models.Brew>

<div class="row">
    <div class="col">
        <h2>Brews Index</h2>
    </div>
    <div class="col">
        <a class="btn btn-primary" asp-area="" asp-controller="Brews" asp-action="Create">New Brew</a>
    </div>
</div>
    

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Coffee Origin</th>
            <th>Brewing Method</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var brew in Model)
        {
            <tr>
                <td>@brew.Id</td>
                <td>@brew.CoffeeOrigin</td>
                <td>@brew.BrewType</td> <!-- Assuming BrewType is an enum -->
            </tr>
        }
    </tbody>
</table>